@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: center;
}

.logoHeader {
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.btnHeader {
    font-weight: bold;
}
.menuIcon {
    color: white;
    font-size: 29px;
}

.btnEnterAcc {
    height: 30px;
}