//Блок выбраных карточек
.collectCart {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 890px;
  height: 880px;
  background-color: #9CA3AF;
  border-radius: 25px;
  margin: 15px;
}

.selectedCard {
  width: 30%;
  min-height: 300px;
  background-color: gray;
  border-radius: 15px;
  margin-bottom: 20px;
}

.fieldSelectedCards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-y: scroll;
}

//Блок итоговой цены
.blockCountPrice {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #949494;
  border-radius: 10px;
}