//Блок выбраных карточек

.titleBlock {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
}

.title {
  font-size: 23px;
  margin: 0;
}

.imgBlock {
  margin: 0 auto;
  border-radius: 10px;
  width: 100%;
  min-height: 130px;
  background-color: gainsboro;
}

.bottomBlock {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.totalPrice {
  padding: 0;
  margin: 0;
  font-size: 32px;
  font-weight: bold;
}

.collectCart {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90vw;
  max-width: 1500px;
  height: 90vh;
  max-height: 900px;
  background-color: #6b6b6b;
  border-radius: 25px;
  margin: 15px;
}

.selectedCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 300px;
  min-height: 350px;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 10px;
}

.fieldSelectedCards {
  display: flex;
  justify-content: left;
  padding: 10px;
  flex-wrap: wrap;
  overflow-y: auto;
}

.nowByProductBlock {
  padding: 10px;
  border-radius: 10px;
  background-color: #919191;
  width: 100%;
  position: relative;
  z-index: 7;
  margin-bottom: 10px;
  display: flex;

}

.descriptionBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerNowByProductBlock {
  display: flex;
}


//Блок итоговой цены
.blockCountPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #9699E3;
  border-radius: 10px;
}

.priceBlock {
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

