.collectCart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 890px;
  height: 880px;
  background-color: #9CA3AF;
  border-radius: 25px;
  margin: 15px;
  position: sticky;
}

.selectedCard {

}