$allBlocksMargin: 15px;
$allBlocksRadius: 25px;

.productCard {
  display: flex;
  flex-wrap: wrap;
  padding: $allBlocksMargin;
  margin: $allBlocksMargin;
  width: 50%;
  min-width: 700px;
  min-height: 200px;
  background-color: gray;
  border-radius: $allBlocksRadius;
}

.imgCard {
  min-width: 200px;
  min-height: 200px;
  background-color: green;
  border-radius: $allBlocksRadius;
  margin-right: 50px;
}
.twoThirdPart {
  display: flex;

}

@mixin textBlock {
  font-size: 26px;
  font-weight: bold;
}

.mainText {
  @include textBlock;
}

.descriptionBlock {
  margin-right: 50px;
}

.btnGroupBlock {

  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}