$allBlocksMargin: 15px;
$allBlocksRadius: 25px;

.pageApp {
  display: flex;
}
.descriptionBlock {
  width: 900px;
  max-height: 660px;
  background-color: wheat;
  margin-top: $allBlocksMargin;
  margin-left: $allBlocksMargin;
  border-radius: $allBlocksRadius;
  position: sticky;
  top: 0;
    div {
      width: 100%;
      text-align: center;
      margin-top: 330px;
    }
}

.menu {
  max-width: 800px;
  display: flex;
  margin-left: 150px;
  flex-direction: column;
  align-items: center;
  div {
    /*TODO При медиа запросе сделать чтобы все контейнеры отображались во всю ширину и в центре
       а отступ был только внизу*/
    margin: 5px;
  }

}

@mixin blocksAccount{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.firstBlock {
  @include blocksAccount;
}

.secondBlock{
  @include blocksAccount;
}

.thirdBlock {
  @include blocksAccount;
}

.userNameCard, .userDelivery, .userPersonalSale,
.userBalance .userLiked .userPays {
  border-radius: $allBlocksRadius;
}

.userNameCard {border-radius: $allBlocksRadius;}
.userDelivery {border-radius: $allBlocksRadius;}
.userPersonalSale {border-radius: $allBlocksRadius;}
.userBalance {border-radius: $allBlocksRadius;}
.userLiked {border-radius: $allBlocksRadius;}
.userPays {border-radius: $allBlocksRadius;}
